
<div class="form">
  <h1>Welcome to Student App</h1>
  <input type="text" name="rollno" value="rollno" [(ngModel)]="student.rollno" placeholder="rollno"><br>
  <input type="date" name="calender" value="calender" [(ngModel)]="student.dob" placeholder="dob"><br>
<input type="text" name="firstName" value="firstName" [(ngModel)]="student.firstName" placeholder="firstname"><br>
<input type="text" name="lastName" value="lastName" [(ngModel)]="student.lastName" placeholder="lastname"><br>
<input type="text" name="phone" value="phone" [(ngModel)]="student.parentName" placeholder="parentName"><br>
<input type="text" name="phone" value="phone" [(ngModel)]="student.parentPhone" placeholder="parentPhone"><br>
<input type="text" name="address" value="address" [(ngModel)]="student.address" placeholder="address"><br>
<input type="button" name="add" value="Add Student" (click)="addStudent(student)" >
<br>
<br><br><br>
</div>
<div class="list" >
  
        <table >
            <thead>
              <th>Roll No</th>
              <th>DOB</th>
              <th>First Name</th> 
              <th>Last Name</th>
              <th>Parent Name</th>
              <th>Parent Phone</th>
              <th>Address</th>
            </thead>
            <tbody *ngFor="let student of students">
              <td>{{student.rollno}}</td>
              <td>{{student.dob}}</td>
              <td>{{student.firstName}}</td>
              <td>{{student.lastName}}</td>
              <td>{{student.parentName}}</td>
              <td>{{student.parentPhone}}</td>
              <td >{{student.address}}</td>
              <td><input type="button" name="edit" value="edit" (click)="onEdit(student.rollno)">

              <td><input type="button" name="delete" value="&times;" (click)="deleteStudent(student)">
                <!-- <td width="15%"><input type="button" name="edit" value="edit" (click)="editStudent(student)"> -->

              </td>
              
            </tbody>
    </table>
    <button name="deleteAll"  (click)="deleteAll()" id="delete">deleteAll</button>

</div>
